#main-content{
    .container{
        .content{
            .cont-title{
                margin-top:50px;
                height:37px;
                text-align:center;
                line-height:37px;
                font-size:24px;
                color:black;
                font-weight:bold;
                .inner-title{
                    font-size:14px;
                    font-weight:normal;
                }
            }
            .cont-item{
                .ul-item{
                    box-sizing:border-box;
                    border-top:1px solid #ddd;
                    border-left:1px solid #ddd;
                    li{
                        float: left;
                        .details-a{
                            box-sizing:border-box;
                            display:block;
                            width: 239.8px;
                            height: 260px;
                            border-bottom:1px solid #DDDDDD;
                            border-right:1px solid #ddd;
                            .img-box{
                                
                            }
                        }
                    }
                }
            }
        }
    }
}