#footer {
  background-color: #ddd;
}

#footer .container .fter-left {
  width: 592px;
}

#footer .container .fter-left .fterLeft-top dt {
  float: left;
}

#footer .container .fter-left .fterLeft-top dt a {
  display: block;
  font-size: 12px;
  padding: 14px 0;
  margin-right: 26px;
}

#footer .container .fter-left .fterLeft-cent {
  height: 70px;
}

#footer .container .fter-left .fterLeft-cent a {
  width: 127px;
  height: 48px;
  display: block;
  background: url("../img/confid.png");
}

#footer .container .fter-left .fterLeft-btom p {
  font-size: 12px;
  height: 14px;
  color: #999999;
  padding-bottom: 8px;
}

#footer .container .fter-left .fterLeft-btom p a {
  color: black;
}

#footer .container .fter-left .fterLeft-btom > a {
  display: block;
  line-height: 22px;
  height: 22px;
  color: black;
  padding-bottom: 10px;
}

#footer .container .fter-left .fterLeft-btom > a i {
  float: left;
  width: 20px;
  height: 22px;
  background: url("../img/policelogo.png");
}

#footer .container .fter-center {
  width: 312px;
  padding-left: 54px;
}

#footer .container .fter-center h4 {
  padding: 14.5px 0;
  font-size: 12px;
}

#footer .container .fter-center h5 {
  font-size: 10px;
  padding: 14.5px 0;
  margin-bottom: 4px;
}

#footer .container .fter-center p {
  font-size: 12px;
  padding-bottom: 92px;
}

#footer .container .fter-right {
  width: 242px;
  height: 217px;
}

#footer .container .fter-right img {
  float: right;
  width: 161px;
  height: 199px;
}
